.tl_widgethours {
	width: 100%;
}

.tl_widgethours thead {
	background-color: #F5F5F5;
	border-bottom: 1px solid #eaeaea;
}

.tl_widgethours th,
.tl_widgethours td {
	padding: 8px 0;
	text-align: center;
}

.tl_widgethours td {
	border-right: 1px solid #eaeaea;
}

.tl_widgethours .wh_row {
	border-bottom: 1px solid #eaeaea;
}

.tl_widgethours .wh_label {
	display: inline-block;
	width: 50%;
	margin-bottom: 8px;
}

.tl_widgethours .wh_divider {
	display: inline-block;
	width: 10%;
}

.tl_widgethours .tl_text {
	text-align: center;
	width: 40%;
	margin: 0 2px;
}
